<!DOCTYPE html>
html(lang="en")
  head
    title ZERO
    meta(charset="utf-8")
    link(rel="stylesheet", href="../sass/main.sass")
    script(src="../js/main.js")


  body

    div(class="grid-container")
      div(class="header")
        h1 HALLO PARCEL!

      div(class="left") left
        div ordered list
          ol
            li Item A
            li Item B
            li Item C

      div(class="middle")
        img(src="../images/dog.jpg" alt="dog" height="200" width="150")
        img(src="../images/jeep.jpg" alt="jeep" height="150" width="200")
      div(class="right") right
        div unordered list
          ul
            li Item A
            li Item B
            li Item C

      div(class="footer") FOOTER
